@font-face{
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face{
  font-family: "PT Sans";
  font-style: normal ;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html{
  height: 100%;
}

body{
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  background-color: #f2f2f2;
  width: 1200px;
  margin: 0 auto;
}

.container{
  display: flex;
  flex-direction: column;
  min-height: 100%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.main-container{
  background-color: #ffffff;
  flex-grow: 1;
}

.navigation{
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.navigation-list{
  margin: 0;
  padding: 0;
  margin-left: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style-type: none;
}

.navigation-user{
  justify-content: flex-end;
  margin-left: auto;
  width: 268px;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.navigation-user .navigation-link{
  min-width: 20px;
  min-height: 20px;
  padding: 22px 12px;
}

.page-header{
  background-color: #ffffff;
  color: #000000;
}

.navigation-link{
  display: block;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff ;
  text-decoration: none;
  text-align: center;
  padding: 20px 16px;
}

.navigation-logo{
  margin-bottom: -12px;
  z-index: 1;
}

.button{
  display: inline-block;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4%;
  border: none;
  padding-top: 8px;
  padding-bottom: 8px;
}

.button-card{
  background-color: #756157;
  padding-left: 26px;
  padding-right: 26px;
}

.button-favorite{
  background-color: #82b3d3;
  padding-left: 20px;
  padding-right: 20px;
}

.button-blue{
  background-color: #82b3d3;
  padding-right: 50px;
  padding-left: 50px;
  margin-top: 54px;
}

.button-green{
  background-color: #7db54f;
  padding-left: 18px;
  padding-right: 18px;
}

.nav-button{
  background-color: #756157;
  padding-left: 36px;
  padding-right: 36px;
  margin: 14px 0 14px 20px;
}

.button-big{
  display: inline-block;
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4%;
  border:none;
  padding-top: 8px;
  padding-bottom: 8px;
}

.button-clear{
  background-color: transparent;
  width: 191px;
}

.button-filter{
  background-color: #82b3d3;
  width: 191px;
  margin-bottom: 32px;
}

.button-search{
  background-color: #756157;
  padding-right: 50px;
  padding-left: 50px;
  margin-top: 54px;
}

.welcome{
  width: 1200px;
  min-height: 485px;
  background-image: url("../images/icons/welcome-bottom.svg"), url("../images/welcome-background.jpg");
  background-position: center bottom, center;
  background-repeat: no-repeat;
}

.city{
  margin: 0 auto;
  display: block;
  padding-top: 51px;
}

.about{
  background-color: #ffffff;
  padding-top: 69px;
  padding-bottom: 90px;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.about-search{
  background-color: #ffffff;
  padding: 96px 304px;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.heading{
  margin: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}

.text{
  margin: 0;
  padding: 0;
  margin-top: 20px;
}

.advantages-title,
.recommendation-title{
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  color:#000000;
}

.advantages-list,
.recommendation-list{
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
}

.recommendation-item,
.advantages-item{
width: 400px;
min-height: 384px;
}

.description-item{
  padding: 85px;
}

.advantages-item-pic{
  display: grid;
  grid-template-columns: 400px 800px;
}

.advantages-item-pic-2{
  display: grid;
  grid-template-columns: 800px 400px;
}

.advantages-item{
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-pic{
height: 100%;
object-fit: cover;
}

.item-blue{
  background-color: #82b3d3;
  color:#ffffff
}

.white-title{
  color:#ffffff;
}

.item-grey{
  background-color: rgba(131, 179, 211, 0.2);
}

.recommendation-item{
  background-color: #83b3d312;
}

.item-white{
  background-color: #ffffff;
}

.subscribe{
  text-align: center;
  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
  background-image: url("../images/subscribe-background.jpg");
  background-repeat: no-repeat;
  width: 1200px;
  padding-top: 96px;
  padding-bottom: 104px;
}

.white-h2{
 font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #ffffff;
}

.contacts-phone{
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
  text-align: center;
}

.page-footer{
  background-color: #ffffff;
}

.footer-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1060px;
  margin: 40px 70px 30px 70px;
}

.footer-social-list{
  width: 142px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-contacts{
  width: 331px;
  margin: 0;
  padding: 0;
}

.footer-logo{
  width: 115px;
  margin: 0;
  padding: 0;
}

/* вторая страница */
.catalog-page{
  background-color: #ffffff;
}

.sorting-container{
  color:#ffffff;
  background-image: url("../images/filter-background.jpg");
  background-repeat: no-repeat;
  width: 1200px;
  padding: 70px;
  padding-top: 35px;
}

.breadcrumbs{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.filter-list{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.filter-item:not(:last-child){
  padding-bottom: 16px;
}

.filter-group{
  border: 0;
  margin: 0;
  margin-right: 70px;
  padding: 0;
}

.filter-group-price{
  border: 0;
  padding: 0;
  margin: 0;
  margin-right: 70px;
  margin-left: 70px;
}

.filter-group-button{
  margin-top: 56px;
}

.catalog-header{
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color:#ffffff;
}

.filter-title{
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color:#ffffff;
  padding-bottom: 32px;
}

.hotel-title{
  grid-column: 1/-1;
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.filter-main{
  display: flex;
  width: 1060px;
  margin: 0;
  margin-top: 40px;
  padding: 0;
}

.all-hotels{
  margin: 50px 70px 40px;
  width: 1060px;
  display: flex;
}

.select-control{
  margin-left: 192px;
  margin-right: 70px;
}

.hotels{
  width: 1060px;
  margin: 0 auto;
}

.choose-hotel-list{
  display: flex;
  flex-wrap: wrap;
  width: 1060px;
  gap: 16px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.choose-hotel-item{
  display: grid;
  grid-template-columns: 140px 140px;
  gap: 16px 20px;
  padding: 20px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
}

.choose-hotel-pic{
  display: block;
  grid-column: 1/-1;
}

.card-price{
  justify-self: end;
}

.rating{
  display: inline-block;
  background-color: #f2f2f2;
  color: #333333;
  padding: 9px 22px 8px 23px;
  border-radius: 4px;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
}

.subscribe-catalog{
  background-color: #ffffff;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  background-size: 100% auto;
  width: 1200px;
  padding-top: 96px;
  padding-bottom: 104px;
}

.pagination{
  display: flex;
  justify-content: flex-start;
  width: 1060px;
  margin: 80px 70px 60px;
  padding: 0;
  list-style-type: none;
  color:#ffffff;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  text-align: center;
  width: 60px;
  height: 60px;
  padding: 12px 0;
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  background-color: #82b3d3;
  border-radius: 4px;
}

.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
}

.pagination-more {
  color:#000000;
  background-color: #ffffff;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
