@font-face{
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face{
  font-family: "PT Sans";
  font-style: normal ;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html{
  height: 100%;
}

body{
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  background-color: #ffffff;
  width: 1200px;
  margin: 0 auto;
}

.container{
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main-container{
  flex-grow: 1;
}

.navigation{
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.navigation-list{
  margin: 0;
  padding: 0;
  width: 339px;
  margin-left: 30px;
  display: flex;
  align-items: center;
}

.navigation-user{
  margin-left: auto;
  width: 268px;
  align-items: center;
  display: flex;
}

.page-header{
  background-color: #ffffff;
  color: #000000;
}

.navigation-link{
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff ;
  text-decoration: none;
  text-align: center;
}

.navigation-list{
  list-style-type: none;
}

.button{
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4%;
  border:none;
  padding: 8px 50px;
}

.button-brown,
.button-big-brown{
  background-color: #756157;
}

.button-blue,
.button-big-blue{
  background-color: #82b3d3;
}

.button-green{
  background-color: #7db54f;
}

.button-big{
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4%;
  border:none;
  padding: 8px 50px;
}

.welcome{
  width: 1200px;
  height: 485px;
  background-image: url("../images/icons/welcome-bottom.svg"), url("../images/welcome-background.jpg");
  background-position: center bottom, center;
  background-repeat: no-repeat;
}

.city{
  margin: 0 auto;
  display: block;
}

.about{
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  height: 282px;
  padding-top: 69px;
}

.heading{
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}

.advantages-list,
.recommendation-list{
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1200px;
}

.advantages-title,
.recommendation-title{
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
}

.recommendation-item,
.advantages-item{
  background-color: #83b3d312;
  width: 400px;
  height: 384px;
}

.advantages-pic{
  display: block;
}

 .advantages-title,
 .recommendation-title{
  font-size: 24px ;
  font-weight: 700;
  line-height: 28px ;
  color:#000000;
}

.item-blue{
  background-color: #82b3d3;
  color:#ffffff
}

.white-title{
  color:#ffffff;
}

.item-grey{
  background-color: #83b3d320;
}

.recommendation-item{
  background-color: #83b3d312;
}

.item-white{
  background-color: #ffffff;
}

.subscribe{
  text-align: center;
  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
  background-image: url("../images/subscribe-background.jpg");
  background-repeat: no-repeat;
  width: 1200px;
  height: 415px;
  padding-top: 96px;
}

.white-h2{
 font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #ffffff;
}

.contacts-phone{
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
  text-align: center;
}

.footer-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1060px;
  margin: 0 auto;
}

.footer-social-list{
  width: 142px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-contacts{
  width: 331px;
  margin: 0;
  padding: 0;
}

.footer-logo{
  width: 115px;
  margin: 0;
  padding: 0;
}

/* вторая страница */
.sorting-container{
  color:#ffffff;
  background-image: url("../images/filter-background.jpg");
  background-repeat: no-repeat;
  width: 1200px;
}

.catalog-header{
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color:#ffffff;
}

.filter-title{
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color:#ffffff;
}

.hotel-title{
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.subscribe-catalog{
  background-color: #ffffff;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  background-size: 100% auto;
  min-width: 1200px;
  height: 415px;
}

.pagination{
  list-style-type: none;
  color:#ffffff;
}

.pagination-link {
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  background-color: #82b3d3;
}

.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
}

.pagination-more {
  color:#000000;
  background-color: #ffffff;
}

.filter-main{
  display: flex;
  flex-direction: row;
  width: 1060px;
  margin: 0;
  padding: 0;
  margin-right: 70px;
  margin-left: 70px;
}

.all-hotels{
  margin: 0 auto;
  width: 1060px;
  display: flex;
}

.hotels{
  width: 1060px;
  margin: 0 auto;
}

.choose-hotel-list{
  display: flex;
  flex-wrap: wrap;
  width: 1060px;
  gap: 16px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.choose-hotel-item{
  width: 300px;
  padding: 20px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
}

.price{
  display: flex;
  justify-content: space-between;
}
